.DS_Store
Cargo.lock
methods/guest/Cargo.lock
target/

node_modules
.env
/test

# Hardhat files
/hardhat/cache/*
/hardhat/artifacts/*

# TypeChain files
/hardhat/typechain/*
/hardhat/typechain-types/*

# solidity-coverage files
/hardhat/coverage/*
/hardhat/coverage.json

# Hardhat Ignition default folder for deployments against a local node
hardhat/ignition/deployments/chain-31337/*

imageID.sol